
<div class="appSection1 appSection">
  <form class="form-horizontal">
    <!--<div class="form-group col-sm-3">
      <label class="control-label col-sm-5" for="email">Status:</label>
      <div class="col-sm-7">        
        <select class="form-control" id="sel1" ng-model="isAppConnected">
          <option value="">All</option>
          <option value=true>Connected</option>
          <option value=false>Disconnected</option>
        </select>
      </div>
    </div>-->
    <div class="form-group col-sm-4">
      <label class="control-label col-sm-3" for="email">From:</label>
      <div class='input-group date col-sm-9' id='datetimepicker3'>
          <input type='text' class="form-control" placeholder="mm/dd/yyyy" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label col-sm-3" for="email">To:</label>
      <div class='input-group date col-sm-9' id='datetimepicker4'>
          <input type='text' class="form-control" placeholder="mm/dd/yyyy" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    </div>
    <div class="form-group col-sm-4" style="text-align: center;">
      <button type="button" class="btn btn-success appSearchBtn">Search</button>
      <button type="button" class="btn btn-primary appResetBtn">Reset</button>
      <button type="button" class="btn btn-primary appExportBtn">Export</button>
    </div>
  </form>
</div>
<div class="appSection2 appSection">
    <div class="form-group col-sm-12 appChartWrapper">      
      <div class="appBarContainer col-sm-6 appChartItem"></div>
      <div class="appPieContainer col-sm-6 appChartItem"></div>
    </div>
</div>
<div class="appSection3 appSection">
	<table-accord value="tableAccordObj3"></table-accord>
</div>